<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Please click the link below to reset your password.</p>
    <a href="http://{{link}}">Reset Password</a>
    <p>After creating a new password, navigate to the log in page and log in using "{{name}}" as your username and your new password.</p>
  </body>
</html>