.nav {
  background-color: var(--blue);
}

.nav a, .nav p {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

a:focus, 
.nav-link:focus {
  color: white;
}

.role {
  background-color: var(--yellow);
  margin-bottom: 30px;
}

.role p {
  padding: 10px;
}