.permissionRow {
    display:grid;
    grid-template-columns: 3fr 3fr 3fr 1fr 20px 30px 30px;
    border: solid;
    border-width: 1px;
    border-color: grey;
    margin-bottom: 2px;
}

.resourceName {
    grid-column: 2/3;
    padding: 5px;
    overflow:hidden;
    white-space:nowrap;
    width:100px;
}  
.resourceId {
    grid-column: 1/2;

    padding: 5px;
}    

.ownerId {
    grid-column: 3/4;

    padding: 5px;
}

.permissionLevel {
    grid-column: 4/5;
    border: solid;
    border-width: 1px; 
    border-color: grey;
    padding: 5px;

}

.editButton {
    grid-column: 5/6;
    background-color: #0067C8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
    border: solid;
    border-width: 1px; 
    border-color: grey;
}

.inviteButton {
    grid-column: 6/7;
    background-color: #0067C8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
    border: solid;
    border-width: 1px; 
    border-color: grey;
}

.deleteButton {
    grid-column: 7/8;
    background-color: #0067C8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
    border: solid;
    border-width: 1px; 
    border-color: grey;
}